# Don't commit the vanilla game files xD
title

# Don't commit the modified game files either :p
output

# Seriously, don't commit Nintendo's IP
oarccache

*__pycache__*
config.yaml
*.log
*.gv
*.svg
Spoiler Log.txt
*plandomizer.yaml

# asm
target/
